.result-card {
    color: #bebece;
    margin:20px;
    background-color: #4841a9;
    padding: 20px 30px;
    height: min-content;
    border-radius: 10px;
    justify-self:right;
    min-width: 250px;

    box-shadow: 0 4px 8px 0 rgb(60, 59, 79), 0 2px 2px -1px rgb(64, 57, 147);

}

.result-card:last-child{
    margin-right: auto;
    margin-left:110px;
}


.movie-title{
    max-width: 250px;
}