
a.card-link{
    text-decoration: none;

}

a.card-link:visited{
    text-decoration: none;
}

li{
    list-style-type: none;

}

.result-card {
    color: #bebece;
    margin:20px;
    background-color: #4841a9;
    padding: 20px 30px;
    height: min-content;
    border-radius: 10px;
    justify-self:right;
    min-width: 250px;

    box-shadow: 0 2px 6px 0 rgb(60, 59, 79), 0 1px 9px -1px rgb(64, 57, 147);

}

.result-card:active{
    background-color: #2f2980;

}

.result-card:hover{
    box-shadow: 0 4px 12px 0 rgb(91, 89, 119), 0 3px 12px -1px rgb(89, 80, 204);

}



.movie-title{
    max-width: 250px;
}